.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 0px ridge;
	min-height-top: 100px; 
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

ul{
	margin-bottom: 0rem;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.navbar-dark {
     background-color: #512DA8;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
  	height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-caption{
	margin-bottom: 50px;
}

.modal-title{
	color: black;
}

.modal-body .modalfont{
	color: black;
}

.visibilityradio{
	visibility:hidden;
}

#carouselButton{
	right: 0;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}